*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*aqui colocarmos estilização no corpo da pagina (body) */

body {
    width: 100%; /*Largura*/
    height: 100vh; /*Tamanho*/
    background-image: url(imagens/img-footer.jpg); /*aqui inserimos e imagem*/
    background-position: center; /*posicionamentos a imagem ao centro*/
    background-repeat: no-repeat; /*colocamos para que o img nao se repita*/
    background-size: cover ; /*aqui atribuimos para que a imagem fique sobre toda nossa pagina*/
    display: flex; /*responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*alinhar os itens para o centro*/ 
    justify-content: center ; /*justificar conteudo ao centro*/
}

.container { /*aqui estamos chamando nossa class da div pai*/
    max-width: 1280px; /*atribuimos aqui um tamanho maximo de largura que essa class ira exercer*/
    margin: 0 auto; /*dizemos ao navegador que as margens superior e inferior são iguais a 0 e 
    as da esquerda e direita são automaticas*/
}

form { /*aqui chamamos nosso form para estilização*/
    background-color: white; /*colocamos uma cor de fundo*/
    max-width: 500px; /*atrubuimos aqui um tamanho maximo de largura que esse formulario ira exercer*/
    height: 450px; /*largura do formulario */
    padding: 40px; /*preenchimento */
    border-radius: 20px; /*arredondamento das bordas do formulario*/
}

form h1 {
    text-align: center; /*chamamos nosso texto para estilização*/
    font-size: 30px;
    color: black;
}

form p { /*chamamos nosso paragrafo para estilização*/
    text-align: center; /*alinhando para o centro nosso paragrafo*/
    margin: 20px 0; /*dizemos ao navegador que as margens superior e inferior são iguais a 20 e as da esquerda
    e direita são 0*/
}

.input-single { /*chamamos nossa class que está encabeçada nas div dos nossos input e label*/
    position: relative; /*posição relativa*/
    margin: 20px 0; /*dizemos ao navegador que as margens superior e inferior são iguais a 20 e as
    da esquerda e direita são 0*/

}

.input-single label{ /* Chamamos nossa Label para estilização*/
    position: absolute; /*Atribuimos uma posição absoluta em relação a o formulário*/
    left: 0; /* Zeramos a margin esquerda*/
    bottom: 5px; /*Margem inferior atribuimos para 5px*/
    transition: all 0.2s; /*Inserimos uma transição total para 0.2s*/
    cursor: text; /*Aqui é para quando passar o mouse, aparecer o indicador de texto*/
}

.input { /* Aqui chamaremos nosso Submit ou seja, o botão para estilização*/
    width: 100%; /*Largura*/
    border: 0; /*Tamanho da borda*/
    border-bottom: 5px solid #ccc; /* estilização da borda inferior */ 
    padding: 5px; /* Preenchimento do input*/
}

form > .input-single > .input:focus ~ label, /*  */
form .input-single .input:valid ~ label{ /**/
    transform: translateY(-25px); /**/
    font-size: 12px; /**/
    color: black; /**/
}


.btn { /* Aqui estamos chamando nossa Class .btn para estilização */
    width: 100%; /* Largura*/
    text-align: center; /* Alinhando o texto ao centro*/
}

form input[type=submit] { /* Aqui estilizamos nosso botão de enviar*/
    padding: 10px 40px; /* Preenchimento da altura e largura do botão*/
    border: 0; /* Aqui zeramos a borda*/
    border-radius: 10px;  /* Colocamos aqui um arredondamento no botão*/
    background-color: rgb(6, 63, 63); /* Cor do botão*/
    color: rgb(255, 255, 255); /* Colocamos aqui um arredondamento no botão*/
    cursor: pointer; /* Torna o botão em algo clicavel*/
}

.form-container{
    opacity: 90%;
}