* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%; /*preenchimento*/
    background-color: rgb(116,  77, 5); /*cor de fundo do nosso cabecalho */ 
    overflow: hidden; 
    
  
}

header > h1 { /*selecionamos aqui a cor da letra do nosso h1*/
    color: white; /*cor da letra*/
}

header > img { /*aqui estamos chamando nossa imagem para ser atribuidas alterações*/
    width: 200px; /*largura da imagem */
    height: 145px; /*tamanho da imagem*/
}

#menu-header { /*nosso menu de navegação*/
    display: flex; /*colocar itens lado a lado*/
    align-items: center; /*alinhar os itens do nosso header para o centro*/

}
 
#list-menu { /*chamando a lista não ordenada*/
    display: flex; /*colocar itens lado a lado*/
    margin-right: 1rem; /*margem da direita, 1 rem equivale a 10px, ou podemos usa-lo para facilitar a inserção 
    de px*/
}

.item-menu-header { /*nossas li que estão dentro do list menu, onde se encontram os nomes dos itens 
    apresentados no header*/
    margin-right: 25px; /*margem da direita*/

}

.item-menu-header > a:hover { /*nossas li que estão dentro do list menu. (a) nossa tag de link que é representada
    por: home/produtos/contato. e o hover responsavel pela modificação de cor ao passar o cursor em cima*/
    color: yellow; /*atribuir a cor desejada */
    transition: 1s; /*tempo que sera exibido ao passar o cursor*/
}

.item-menu-header > a { /*nossas li que estão dentro do list menu. (a) nossa tag de link que é representada por 
    home/produto/contato*/
    color: white;
    text-decoration: none; /*responsavel por tirar o sublinhado inferior que estava visivel*/
    font-size: 12px; /*  tamanho da letra */
    
}

#botao-header { /*nossa id do botão de login*/
    display: flex; /*responsavel por colocar os itens na mesma linha (lado a lado)*/

}

#botao-header > button { /*aqui chamamos nossa id e onde queremos fazer */
    padding: 8px; /*preenchimento*/
    background-color: transparent; /*deixamos o fundo do botao transparente, ou seja sem o fundo branco que estava em primeiro plano*/
    border: none; /*nome usado para retirar algo, nesse caso a borda */
}

#botao-header > button > a { /*estamos chamando aqui nossa tag de link para alteracao*/
    display: flex; /*responsavel por colocar os itens na mesma linha (lado a lado)*/
    align-items: center; /*alinhar os itens para o centro*/
}

#botao-header > button > a > img { /*aqui estamos usando no icon de botão*/
    width: 30px; /*largura*/
    height: 30px; /*tamanho*/
    margin-right: 2px; /*margem da direita*/

}

#botao-header > button > a { /*estamos chamando aqui nossa tag de link
    para alteração (novamente)*/
    color: white; /*cor da letra*/
    text-decoration: none; /*responsavel por tirar o sublinhado que estava 
    visivel*/
    font-weight: 400; /*espessura da fonte*/
} 

/*diferença entre ID e Class: A diferença entre um id e uma class é que um
id é usado apenas para identificar um único elemento em nosso HTML.
Os identificadores são usados apenas quando um elemento na página precisa 
ter um estilo especifico aplicado a ele.
No entanto, uma class pode ser usada para identificar mais de um elemento
HTML*/

#img-destaque {
    background-image: url(imagens/padaria.webp);
    padding: 260px;
    background-position: center;
    background-size: cover;

}

.img-div {
    padding: 2.5%;
    background-image: url(imagens/img-div.jpg);
    background-position: center;
    background-size: auto;
}

#clients > h2 {
    text-align: center; /*alinhamos o texto ao centro*/
    font-size: 36px; /*tamanho da letra*/
    margin-top: 40px; /*espacamento superior*/
}

#clients {
    background-color: white;
    padding: 50px;
    margin-top: 0;
}

.line {
    margin: 0 auto;
    width: 25%;

}

#clients-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}

.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clients-item > img {
    width: 78px;
    height: 78px;
}

.clients-item > h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    align-items: center;

}

.clients-item > p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
}

#products {
    padding: 30px; /*preenchimento*/
    background: linear-gradient(180deg, #d49664 8.33%,  rgba(244, 200, 175, 0) 100%); 
    /*aqui iniciamos uma estilização de fundo em degradê*/
}

.section-products { /*chamamos nossa div pai para estilização*/
    margin-top: 3em; /*espaçamento superior*/
    display: flex; /*tornando essa sessão flex jogando lado a lado */
    align-items: center; /*alinhando itens ao centro*/
    justify-content: space-evenly; /*espaçamento especificado*/

}

.img-product { /*aqui chamamos nossas imagens para edição*/
    width: 300px; /*largura das imagens*/
    height: 300px; /*altura das imagens*/
    border-radius: 50px; /*arrendondamento das bordas*/
}

.text-products { /*chamamos nosso titulo para estilização*/
    margin-top: 10px; /*espaçamento do titulo em relação a img*/
    font-family: Arial, Helvetica, sans-serif; /*familia da fonte*/
    text-align: center; /*alinhamento do texto ao centro*/
    font-size: 22px; /*tamanho da letra*/

}

#products > a { /*aqui chamamos nossa tag "a" para estilização*/
    text-decoration: none; /*desabilitamos a decoração (sublinhado)*/
    font-family: Arial, Helvetica, sans-serif; /*familia de fonte*/
    font-size: 20px; /*tamanho da fonte */
    color: black; /*cor da letra */
    display: flex; /*jogando lado a lado*/
    justify-content: center; /*alinhando ao centro*/
    text-align: center; /*alinhando ao centro*/

}
#products > h2 {
    text-align: center;
}

#products > a:hover { /*efeito ao passar o mouse*/
    font-size: 22px; /* tamanho da letra*/
    transition: 0.8s; /*tempo de transição ao passar o mouse */
    color: tomato; /*cor da letra ao passar o mouse*/
    
}          

#sobre-nos { /*chamamos nossa sobre nós para estilização*/
    background-image: url(imagens/fundo-sobre-nos.jpg); /*inserimos aqui nossa imagem*/
    padding: 120px; /*tamanho do preenchimento da sessão*/
    background-position: center; /*posicionamento da imagem ao centro*/
    background-attachment: fixed; /*habilitamos o tamanho total da imagem*/
    background-repeat: no-repeat; /*não repetição da imagem*/
}

#sobre-nos > h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px; 
    

}

#sobre-nos > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-top: 2em;

}

footer {
    padding: 80px;
    background-image: url(imagens/img-footer.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer > ul {
    display: flex;
    justify-content: space-evenly;

}

footer > h2 {
    color: black; /*cor da letra*/
    font-size: 40px; /*tamanho da letra*/
    font-weight: bold; /*espessurada letra*/
    text-align: center; /*alinhar texto ao centro*/
    margin-bottom: 30px; /*margem inferior*/
}

.item-menu-footer { /*aqui chamamos nossa class das li*/
    align-items: center; /*posicionamos ao centro*/
    margin-top: 30px; /*espaçamento superior*/
    display: flex; /*alinhando os itens lado a lado*/
}

.item-menu-footer > img { /*aquic chamamos nossa img para estilização*/
    width: 34px; /*largura da imagem*/
    height: 34px; /*altura da imagem */
}

.item-menu-footer > p { /*aqui chamamos nossa tag P para estilização*/
    color: black; /*cor da letra*/
    font-size: 24px; /*tamanho da letra*/
    font-weight: bold; /*espessura da letra*/
    margin-left: 10px; /*espaçamento à esquerda*/
}

#products > h2 {
    margin-top:120px;
}

@media(max-width: 430px){
    #menu-header {
        display: none;
    }
    

    #botao-header button a {
        display: block;
        font-family: bold;
    }

    #botao-header button a p {
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
    }

    #botao-header button a img {
        width: 30%;
        height: auto;
    }

    header img {
        width: 40px;
        height: 40px;

    }

    header h1 {
        font-size: 1em;
    }

    header {
        padding: 5%;
    }

        #img-destaque {
            max-width: 100%;
            height: auto;
            
        }

        #img-padaria {
            width: 100%;
        }

        #clients h2 {
            font-size: 1.8em;
            
        }

        #clients hr {
            width: 47%;
            
        }

        .clients-item p {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10%;
        }

        #clients-list {
            display: block;
            
        }  

        .clients-item h3 {
            font-size: 1em;
     }

      .clients-item img{
        width: 20%;
        height: 28%;
        margin-top: 40px;
     }

        #products {
            display: block;
        }

     }